body {
    background-color: rgb(255, 237, 247);
}

h1 {
    color: rgb(165, 165, 165);
}

#grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 25px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border: 4px white solid;
}